.f-white {
  color: white;
}

#container{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.cardBlock{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}

.cardBlock svg:hover{
   transform: scale(1.5);
}

.cardBlock svg {
   transform-origin: center;
   transition: all 0.5s;
}

.icons{
   display: flex;
   flex-direction: row;
}

.icons div {
  position: relative;
}

.icons .tooltiptext {
  visibility: hidden;
  /* width: 60px; */
  background-color: #0266C8;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 3px;
  font-size: 1rem;

  /* Position the tooltip */
  position: absolute;
  bottom: 130%;
  left: -20%;
  /* margin-left: -37px; */

  opacity: 0;
  transition: opacity 1s;
}

svg:hover + .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.icons .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #0266C8 transparent transparent transparent;
}
